body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f9ff;
  background-image:
    radial-gradient(circle at top left, #ffe6f0 0%, transparent 40%),
    radial-gradient(circle at bottom right, #e6f2ff 0%, transparent 45%);
  color: #333;
  margin: 0;
  padding: 20px;
}



.book {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.heart {
  cursor: pointer;
  font-size: 24px;
  filter: grayscale(100%);
  transition: transform 0.2s, filter 0.2s;
}

.heart:hover {
  transform: scale(1.2);
}

.heart.fav {
  filter: grayscale(0%);
}

