body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    135deg,
    #fdfbfb 0%,
    #e6f3ff 50%,
    #fff1e6 100%
  );
  color: #333;
  margin: 0;
  padding: 20px;
}


.book {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.heart {
  cursor: pointer;
  font-size: 24px;
  filter: grayscale(100%);
  transition: transform 0.2s, filter 0.2s;
}

.heart:hover {
  transform: scale(1.2);
}

.heart.fav {
  filter: grayscale(0%);
}

